<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max.width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>
    <div class="message-content">
        <p>Hello {{name}} !</p>
        </br>
        <p>We've received the solicititation to change the password</p>
        <p>Please click on the link above to change change passowrd.</p>
        <p>
            <a href="{{link}}"> Reset password</a>
            <br />
            <p>API Sales Team</p>
        </p>
    </div>
